<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:#{ServiceBPort}/ServiceB.svc" name="BasicHttpBinding_IServiceB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:#{ServiceAPort}/ServiceA.svc" name="BasicHttpBinding_IServiceA" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>